In [1]:
import pyspark
from pyspark.sql import *
from pyspark import SparkContext, SparkConf

from pyspark.sql import *
from pyspark.sql.functions import *

import pandas as pd
import sqlite3

In [2]:
conf = SparkConf().setAppName("appName").setMaster("local")
sc = SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

25/01/21 11:56:48 WARN Utils: Your hostname, Davids-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.101.169.23 instead (on interface en0)
25/01/21 11:56:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/21 11:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
import os.path
from os import listdir
from os.path import isfile, join

import subprocess
import yaml

# Add the parent directory to the system path
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.append(parent_dir)

In [63]:
from src.utils import *

print(generate_actions_sql(1, [1, 2]))

NameError: name 'generate_actions_sql' is not defined

In [ ]:


print("Current working directory set to:", os.getcwd())

# Read the config.yaml file
if os.path.exists('config.yaml'):
    with open('config.yaml', 'r') as file:
        config = yaml.safe_load(file)

if os.path.exists('../config.yaml'):
    with open('../config.yaml', 'r') as file:
        config = yaml.safe_load(file)

dir = config['fileio']['working_directory1']

print("dir: " + dir)

# Set the current working directory
os.chdir(dir)
print("Current working directory set to:", os.getcwd())

In [46]:
sql_definitions = [
	"people.sql", 
	"cylons.sql", 
	"colonies.sql", 
	"person_actions.sql"
]

sql_content = ""

for filename in sql_definitions:
	filename = dir + "/sql/definitions/" + filename
	if not os.path.isfile(filename):
		print('File does not exist: ' + filename)
	else:
	    with open(filename) as f:
	        sql_content = sql_content + f.read()

f = open(dir + "/sql/generated/simple.sql", "w")
f.write(sql_content)
f.close()

db_command_file = dir + "/generate_db.sh"
db_command = "sqlite3 " + dir + "/db/simple.db < " + dir + "/sql/generated/simple.sql"

with open(db_command_file, "w") as file:
    file.write(db_command)

try:
    result = subprocess.run(["bash", db_command_file], check=True, text=True, capture_output=True)
    print("db construct successful:", result.stdout)
except subprocess.CalledProcessError as e:
    print("db construct error:", e)

db construct successful:

In [31]:

conn = sqlite3.connect(dir + "/db/simple.db")

In [32]:

df_people = pd.read_sql_query("SELECT * FROM people", conn, dtype={"home_colony_id": "Int64"})
df_colonies = pd.read_sql_query("SELECT * FROM colonies", conn)
df_cylons = pd.read_sql_query("SELECT * FROM cylons", conn)
df_person_kills = pd.read_sql_query("SELECT * FROM person_kills", conn)

print("type: ")
print(df_people["home_colony_id"].dtype)

print("df_people")
print(df_people.head())
print()
print("df_colonies")
print(df_colonies.head())
print()
print("df_cylons")
print(df_cylons.head())
print()
print("df_person_kills")
print(df_person_kills.head())

df_people.to_csv(dir  + "/csv/people.csv", index=False)
df_colonies.to_csv(dir  + "/csv/colonies.csv", index=False)
df_person_kills.to_csv(dir  + "/csv/person_kills.csv", index=False)

type:
Int64
df_people
   id first_name last_name salutation call_sign  home_colony_id
0   1        Lee     Adama        Sir    Apollo               4
1   2    William     Adama        Sir    Husker               4
2   3       Kara    Thrace        Sir  Starbuck               4
3   4      Gaius    Baltar        Dr.      None               1
4   5      Laura    Roslin        Ms.      None               4

df_colonies
   id      name
0   1   Aerilon
1   2   Aquaria
2   3  Canceron
3   4   Caprica
4   5   Gemenon

df_cylons
   id  model_number       type gender
0   1           NaN  IL-series   None
1   2           NaN  centurion   None
2   3           NaN     raider   None
3   4           1.0   humanoid    man
4   5           2.0   humanoid    man

df_person_kills
   person_killer_id person_victim_id  cylon_victim_id
0                 3             None                3

In [ ]:

rdd_people = sc.parallelize(df_people.values.tolist())

rdd_people.collect()

In [51]:
bsg_people = spark.read.csv("people.csv", header=True)
bsg_colonies = spark.read.csv("colonies.csv", header=True)

bsg_data = bsg_people.join(bsg_colonies, bsg_people.home_colony_id == bsg_colonies.id)

bsg_data.show()

+---+----------+---------+----------+---------+--------------+---+----------+
| id|first_name|last_name|salutation|call_sign|home_colony_id| id|      name|
+---+----------+---------+----------+---------+--------------+---+----------+
|  1|       Lee|    Adama|       Sir|   Apollo|             4|  4|   Caprica|
|  2|   William|    Adama|       Sir|   Husker|             4|  4|   Caprica|
|  3|      Kara|   Thrace|       Sir| Starbuck|             4|  4|   Caprica|
|  4|     Gaius|   Baltar|       Dr.|     NULL|             1|  1|   Aerilon|
|  5|     Laura|   Roslin|       Ms.|     NULL|             4|  4|   Caprica|
|  9|      Saul|     Tigh|       Sir|     NULL|            13| 13|     Earth|
| 11|     Billy|  Keikeya|       Mr.|     NULL|             8|  8|     Picon|
| 12|     Galen|    Tyrol|       Sir|     NULL|            13| 13|     Earth|
| 13| Anastasia|   Dualla|       Sir|     NULL|             9|  9|Sagittaron|
| 16|      Karl|  Agathon|       Sir|     Helo|             4|  4|   Caprica|
| 17| Samuel T.|   Anders|       Sir|     NULL|            13| 13|     Earth|
+---+----------+---------+----------+---------+--------------+---+----------+

In [52]:
colony_counts = bsg_data.groupBy("home_colony_id").count().sort(desc("count"))

colony_counts.show()

+--------------+-----+
|home_colony_id|count|
+--------------+-----+
|             4|    5|
|            13|    3|
|             8|    1|
|             9|    1|
|             1|    1|
+--------------+-----+

In [36]:
conn.close()
sc.stop()